<section id="clients" class="container animate">
    <h3 class="clients-title">Trusted by Leading & Emerging Agencies</h3>
    <div class="client-logo-grid">
        <div class="client-logo">
            <img src="images/facebook-ritemerit.png" alt="Rite Merit International Manpower Agency Logo">
        </div>
        <div class="client-logo">
            <img src="images/facebook-khalid-agency.png" alt="Khalid International Recruitment Agency Logo">
        </div>
        <div class="client-logo">
            <img src="images/meta.png" alt="Meta Logo">
        </div>
        <div class="client-logo">
            <img src="images/sheets.png" alt="Google Sheets Logo">
        </div>
        <div class="client-logo">
            <img src="images/microsoft.png" alt="Microsoft Logo">
        </div>
    </div>
</section>